python-dotenv==1.0.1
gradio==5.12.0
langgraph==0.2.62
langchain-huggingface==0.1.2
langchain-google-genai==2.0.9
tiktoken==0.8.0
blobfile==3.0.0
bitsandbytes==0.45.0
accelerate==1.2.1
flash-attn==2.7.3
tavily-python==0.5.0
chromadb==0.6.3
langchain-chroma==0.2.0
langchain_community==0.3.14